* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*  background-image: url("./Images/wallpaper-green.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
  background-color: rgb(160, 72, 248);
  height: 100vh;
  width: 100vw;
}

.card {
  width: 40%;
  padding-bottom: 80px;
  background-color: white;
  border-radius: 10px;
  /* transition: 0.1s ease;*/
  box-shadow: 0px 0px 10px 15px rgb(128, 0, 255);
}

@media (max-width: 960px) {
  .card {
    width: 95%;
    padding-bottom: 70px;

    border-radius: 10px;
    /* transition: 0.1s ease;*/
    box-shadow: 0px 0px 10px 15px rgb(128, 0, 255);
  }
}
.text-title {
  display: block;
  color: #424242;
  margin: 50px 0 20px 0;
  text-align: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 2px rgba(169, 169, 169, 0.777);
}
.text-label {
  text-align: center;
  color: rgb(165, 165, 165);
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: expanded;
  font-size: small;
  text-decoration: none;
  padding-left: 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.104);
}
.left {
  float: left;
  margin-left: 5px;
}
.right {
  float: right;
  margin-right: 50px;
}
.card-input {
  margin: 10px;
  display: block;
  padding: 2px;
  border-radius: 20px;
  border: none;
  color: rgb(141, 141, 141);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 1px gray;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: start;
  height: 20px;
  width: 70%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.104);
  text-align: center;
}
.card-input:focus {
  outline: 0px;
  box-shadow: 0px 0px 5px 1px rgb(128, 0, 255);
}
.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.btn {
  border-radius: 20px;
  padding: 13px;
  color: rgb(255, 255, 255);
  border: none;
  text-transform: uppercase;
  background-image: linear-gradient(145deg, rgb(170, 0, 255), rgb(44, 1, 93));
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 45%;
  cursor: pointer;
}
.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sub-infos {
  width: 90%;
  padding: 10px;
}

/*Custom Checkbox Start */
.container-checkbox {
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-checkbox input {
  float: left;
  margin-left: 40px;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  float: left;
  height: 15px;
  width: 15px;
  background-color: rgba(238, 238, 238, 0);
  border: 2px solid purple;
  border-radius: 3px;
}
.container-checkbox:hover input ~ .checkmark {
  background-color: rgba(119, 0, 255, 0.333);
}
.container-checkbox input:checked ~ .checkmark {
  background-color: rgba(33, 149, 243, 0);
}
.checkmark:after {
  content: "";
  display: none;
}
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
  left: 20px;
}
.container-checkbox .checkmark:after {
  width: 3px;
  height: 8px;
  padding-left: 9px;
  border: solid rgb(146, 0, 194);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Custom CheckBox End */

.text-end {
  margin-top: 10px;
}
.text-purple {
  color: purple;
}
